.viewMore {
  background-color: aquamarine;
  width: 400px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.title {
  background-color: aqua;
  padding: 20px;
  width: 400px;
  text-align: center;
  border-radius: 10px;
}

.movie {
  background-color: antiquewhite;
  width: 400px;
  margin-left: 5px;
  padding: 15px;
  text-decoration: none;
  text-transform:uppercase;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: rgb(6, 76, 122);
}

a:hover {
  color: blue;
}